<div class="page">
  <div class="header">
        Recipe Mash   
        <%= link_to "Sign-Up", signup_path, class: "button" %> 
        <%= link_to "Sign-In", '#', class: "button" %> 
  </div>

  <div class="bcontent">Welcome to the worlds best recipe sharing website </div>
</div>
