<div class="page">
  <div class="header">
        Recipe Mash   
        <%= link_to "Sign-Up", signup_path, class: "button" %> 
        <%= link_to "Sign-In", signin_path, class: "button" %> 
  </div>

  <div class="bcontent">
     <table class="home"> 
       <tr>
         <th class="table-header"> Vegan </th>
         <th class="table-header" > Vegetarian  </th>
         <th class="table-header"> Desserts </th>
         <th class="table-header"> Chicken Dishes </th>
         <th class="table-header"> Beef/Pork Dishes </th>
       </tr>
       <tr>
         <td class="table-content"> Vegan lasagna </td>
         <td class="table-content"> Eggplant Curry </td>
         <td class="table-content"> Chocolate Sherbet </td>
         <td class="table-content"> Chicken tikka Masal </td>
         <td class="table-content"> Beef and por Fried Rice </td>
       </tr>
     </table> 
      
   </div>
</div>
