<div class="user_page">
  <div class="user_header"> 
        Hello <%= @user.name %> ! what yummy recipes do you have today?
  </div>

  <div class="bcontent"> Enter your recipes in the following form </div>

</div>

