<% provide(:title, "Profile") %>

<div class="row-fluid">
 <div class="span8">
  <h1> 
	  <%= gravatar_for @user %>
	  <%= @user.name %>
  </h1>
 </div>

 <div class="span2 ">
		<%= button_to 'Edit Profile', edit_user_path(@user), method: :get, class: "btn btn-primary" %>
 </div>

 <div class="span2">
		<%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: "Are You sure?"} , class: "btn btn-primary"  %>
 </div>

</div>


