// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




table.home {
border-collapse:separate;
border-spacing:80px 10px;
}
.table-header {
   font-size: 20pt;
   color: #0C6B45;
   font-family: "Mistral"
  }

.table-content {
   font-size: 14pt;
   color: #0C6B45;
   font-family: "Baskerville"
  }


#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
		}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
	}

