// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bodyBackground: #E4E2BA; 
$navbarBackground: #0C6B45;
$navbarBackgroundHighlight: #0C6B45;
$navbarHeight: 60px;
$navbarBrandColor: #DABAE4;
$navbarLinkColor: #ACC8CF;
$navbarLinkColorHover: #DABAE4;
$linkColor: #8FA0CA;
$btnPrimaryBackground: #354D8B;
$textColor: #0C6B45;
@import "bootstrap";

.navbar .brand { 
  font-family: "chalkduster", "Lucida Grande", sans-serif;
	font-size: 36px;
}

.navbar {
  font-family: "chalkduster", "Lucida Grande", sans-serif;
}

.navbar-inner {
	border-radius: 0px;
	}

h1 { 
	font-style: italic;
	font-family: "colonna MT", "Lucida Grande", sans-serif;
	}

