// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page {  
  width: 100%;
  position:fixed;
  font-size: 12pt;
  padding:20px;
  margin-left:auto;
   }
.user_header {
  font-size: 32pt; 
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "chalkduster", "Lucida Grande", sans-serif;
  color: #DABAE4;
  background-color: #0C6B45;
  position: fixed;
  letter-spacing: 5px;
  top: 0px;
  left: 0px;
  width: 100%;
 }

.new-h1 {
   text-align: center;
   font-style: italic;
   font-size: 28pt;
   color: #0C6B45;
   font-family: "Ayuthaya", "Lucida Grande", sans-serif;
  }

.new-content {
   background-color: #9ECC63;
   font-size: 20px;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 300px;
   padding-left: 50px;
   padding-right: 50px;
   margin-left: 100px;
   margin-right: 100px;
  }

.user_bcontent {
   margin-top: 80px ; 
   text-align: center;
  }

.user_nav-links {
   float: right;
   font-size: 12pt;
   font-family: "Baskerville";
   color: #DABAE4
  }

.new-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.classname:active {
	position:relative;
	top:1px;
}
